    
<div id="page-content-wrapper">
  <div class="page-content inset">
    <div class="row">
      <div class="col-md-12">
        <%= bootstrap_flash %>
        
        <%= yield %>
        <div id="titulo">
          WELCOME
        </div>
      </div>
    </div>
  </div>
</div>
