// Place all the styles related to the Welcomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#titulo {
	font-size: 150px;
	margin-left: 17%;
	margin-top: 100px;
}
